<%- include('header') %>

  <main>
    <div class="grid-row">
      <% mydata.forEach((toy)=> { %>
      <div class="grid-item">
        <%= toy.title.slice(0, 30) %>
        <div><a class="button _round" href="<%= toy.url %>" target="_blank">
          BUY
        </a></div>
      </div>
      <% }) %>
    </div>
  </main>

<%- include('footer') %>